* {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/fundo\ big\ bang.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
    display: block;
    margin: 0 auto 40px;
}

.human-speak {
    color: #040442;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    left: 120px;
    top: 250px;
}

.machine-speak {
    color: #b10101;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    right: 120px;
    top: 250px;
}

.sheldon-direita {
    width: 160px;
    position: absolute;
    right: 80px;
    bottom: 60px;
}

.boneco-esquerda {
    height: 220px;
    position: absolute;
    left: 80px;
    bottom: 50px;
}

main {
    background-color: #FF000020;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    padding: 10px 0;
    border-radius: 30px;
    box-shadow: 2px 3px 8px #363636;
}

.title {
    font-size: 25px;
    color: #292929;
}

.buttons {
    font-size: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px 7px 25px 7px;
    background-image: url(./assets/fundo-cobre.jpg);
    background-size: 150%;
    box-shadow: 2px 3px 8px #363636;

}

.buttons:hover {
    opacity: 0.7;
}

.buttons:active {
    opacity: 0.4;
}

.result {
    font-size: 30px;
    height: 50px;
    color: #b10101;
}

#humanPoints {
    color: #040442;
    font-size: 25px;
}

#machinePoints {
    color: #b10101;
    font-size: 25px;
}


@media screen and (max-width: 1100px) {

    .log {
        margin: 20px;
    }

    .human-speak {
        top: 70%;
        left: 10%;
    }

    .machine-speak {
        top: 70%;
        right: 10%;
    }

    .sheldon-direita {
        width: 120px;
        position: absolute;
        right: 2%;
        bottom: 5%;
    }

    .boneco-esquerda {
        height: 190px;
        position: absolute;
        left: 4%;
        bottom: 2%;
    }

    main {
        width: 90%;
    }

    .title {
        font-size: 20px;
    }

    .buttons {
        font-size: 35px;
        margin: 20px 5px;
    }

}

